$soft-red: rgb(254 118 103);
$soft-red-opacity: rgb(254 118 103 / 25%);
$yellow: rgb(255 213 0);
$yellow-opacity: rgb(255 213 0 / 22%);
$dark-desaturated-cyan-text: rgb(37 86 75);
$dark-blue-photography-text: rgb(25 83 107);
$dark-moderate-cyan-footer: rgb(145 212 198);
$very-dark-desaturated-blue: rgb(35 48 62);
$very-dark-grayish-blue: rgb(90 99 108);
$dark-grayish-blue: rgb(129 132 152);
$grayish-blue: rgb(167 171 174);
$graphic-design-bg: rgb(158 220 204);
$photography-bg: rgb(77 201 255);
$header-bg-cyan: rgb(61 190 255);
$white: rgb(255 255 255);
